*{
  background-color:black;
}
.card1{
  text-align: center;
  padding: 60px;
  float: center;
  display: block;
  background-position: center;
}
h1{
  color:blue;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
p{
  text-align: center;
  padding: 20px;
}
.footer {
  padding: 20px;
  text-align:center;
  background-color:black;
  margin-top: 10px;
  float: bottom;
  color:blue;
}
body{
  font-family: 'Lucida Sans', sans-serif;
  color: white;
}
